<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="app">
        
        <div id="container">
        
            <h1 class="title">
                To Do List
            </h1>



           <div class="addtolist">
               <input type="text" placeholder="Cose da fare" v-model="newTodo" @keyup.enter="addTodo">
               <button class="add" @click="addTodo">Add to your list</button>

            </div>
            
            <div id="list-container" v-for="(todo, index) in todos">
                
                <div style="color: white;">
                    {{ todo.text }}   
                </div>       
                <div id="remove-item" @click="removeTodo(index)">
                    x 
                </div>
            </div>
              
            
        </div>
        

    </div>
    
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <script src="script.js"></script>
    
</body>
</html>